mixin projects-item(title, imgUrl, date, meta, active)
    - var cls = 'projects-item'
    if active
        - cls += ' active'
    li(class=cls)
        .projects-pic
            img(src='https://dummyimage.com/400x200/' + imgUrl + '/fff').projects__img
        .projects-details
            .projects-desc
                .projects__date #{date}
                .projects__title #{title}
                .projects__text 
                    block
                .projects-meta
                    if meta.collected
                        | Зібрано 
                        span.projects-meta__number #{meta.collected}
                        |  з 
                        span.projects-meta__number #{meta.total}
                        |  UAH
                    else
                        | Допомогли: #{meta}
            .projects-help
                ul.projects-help-list
                    each help in [{name:'Зробити',id:'do',icon:'help-hand-sm'},{name:'Фінансова допомога',id:'financial',icon:'help-wallet-sm'},{name:'Матеріальна допомога',id:'material',icon:'help-clothes-sm'},{name:'Волонтери',id:'volunteers',icon:'help-heart-sm'}]
                        li.projects-help-item
                            a(href="#" onclick="openRegForm(event,'" + help.id + "');" id=).projects-help__link
                                .projects-help__name #{help.name}
                                .projects-help-icon
                                    span(class="icon icon-" + help.icon)