mixin projects-item(title, imgUrl, date, meta, active)
    - var cls = 'projects-item';
    if active
        - cls += ' active'
    li(class=cls)
        .projects-logo
        .projects-pic
            img(src='https://dummyimage.com/400x200/' + imgUrl + '/fff').projects__img
        .projects-details
            .projects-desc
                .projects__date #{date}
                .projects__title #{title}
                .projects__text 
                    block
                .projects-meta
                    if meta.collected
                        | Зібрано 
                        span.projects-meta__number #{meta.collected}
                        |  з 
                        span.projects-meta__number #{meta.total}
                        |  UAH
                    else
                        | #{meta}
            .projects-help
                ul.projects-help-list
                    li.projects-help-item
                        a(href="#").projects-help__link
                            .projects-help__name зробити
                            .projects-help-icon
                                span.icon.icon-help-hand-sm
                    li.projects-help-item
                        a(href="#").projects-help__link
                            .projects-help__name фінансова допомога
                            .projects-help-icon
                                span.icon.icon-help-wallet-sm
                    li.projects-help-item
                        a(href="#").projects-help__link
                            .projects-help__name матеріальна допомога
                            .projects-help-icon
                                span.icon.icon-help-clothes-sm
                    li.projects-help-item
                        a(href="#").projects-help__link
                            .projects-help__name волонтерство
                            .projects-help-icon
                                span.icon.icon-help-heart