mixin projects-item(title, imgUrl, options)
    - var cls = 'projects-item'
    if options.active
        - cls += ' active'
    li(class=cls)
        .projects-pic
            img(src='https://dummyimage.com/400x200/' + imgUrl + '/fff').projects__img
            if options.immidiately
                .projects-pic__warning Терміново
            if options.video
                span.projects-pic__video.icon.icon-play       
        .projects-details
            .projects-desc
                .projects__date #{options.date}
                .projects__title #{title}
                .projects__text 
                    block
                .projects-meta
                    if options.meta && options.meta.collected
                        | Зібрано 
                        span.projects-meta__number #{options.meta.collected}
                        |  з 
                        span.projects-meta__number #{options.meta.total}
                        |  UAH
                    else
                        | Допомогли: #{options.meta}
                        a(href="#").projects-meta-details
                            span.projects-meta__dot
                            span.projects-meta__dot
                            span.projects-meta__dot
            .projects-help
                ul.projects-help-list
                    each help in [{name:'Зробити',id:'do',icon:'help-hand-sm'},{name:'Фінансова допомога',id:'financial',icon:'help-wallet-sm'},{name:'Матеріальна допомога',id:'material',icon:'help-clothes-sm'},{name:'Волонтери',id:'volunteers',icon:'help-heart-sm'}]
                        li.projects-help-item
                            a(href="#" data-tab-open=help.id).projects-help__link
                                .projects-help__name #{help.name}
                                .projects-help-icon
                                    span(class="icon icon-" + help.icon)